:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;

    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: rgb(214, 222, 224);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overscroll-behavior-y: none;

    background-color: #fff;
    padding: 2.5rem;

    display: flex;
}

/* GENERAL */
a:link,
a:visited {
    color: var(--color-brand--1);
}

.workouts__header--none-listed {
    font-size: 1.55rem;
    margin-bottom: 1rem;
}

.workouts__header--none-listed.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    opacity: 0;
}

.workouts__modify--delete-all {
    cursor: pointer;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 15px 15px;
    margin-top: 25px;
    background-color: var(--color-brand--2);
    width: 50%;
}

.workouts__modify--delete-all.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.workouts__modify--delete-all:hover span {
    display: none;
}

.workouts__modify--delete-all:hover {
    background-color: var(--color-brand--1);
}

.workouts__modify--delete-all:hover:before {
    font-size: 11px;
    content: "🗑️";
}

.sort__workouts {
    display: flex;
    align-self: center;
    margin-bottom: 15px;
}

.sort__workouts.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.sort__workouts--by-label {
    font-size: 1.55rem;
    margin-right: 0.5rem;
}

.sort__workouts--by-options {
    border-radius: 7px;
    padding: 3px 3px;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 50rem;
    background-color: var(--color-dark--1);
    padding: 3rem 5rem 4rem 5rem;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 15.2rem;
    align-self: center;
    margin-bottom: 4rem;
    background-blend-mode: screen;
}

.workouts {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
    width: 0;
}

.workout {
    background-color: var(--color-dark--2);
    border-radius: 15px;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
}

.workout__running {
    border-left: 5px solid var(--color-brand--2);
}

.workout__running--selected {
    border: 5px solid var(--color-brand--2);
}

.workout__cycling {
    border-left: 5px solid var(--color-brand--1);
}

.workout__cycling--selected {
    border: 5px solid var(--color-brand--1);
}

.workout__title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.workout__title {
    font-size: 1.7rem;
    font-weight: 600;
}

.workout__modify-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.workout__modify-edit {
    font-size: 12px;
    margin-right: 15px;
}

.workout__modify-edit:hover {
    text-decoration: underline;
    /*cursor: url("./assets/icon-edit.png"), auto;*/
}

.workout__modify-delete {
    font-size: 12px;
}

.workout__modify-delete:hover {
    text-decoration: underline;
    /*cursor: url("./assets/icon-trash.png"), auto;*/
}

.workout__details {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
}

.workout__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
}

.workout__value--distance,
.workout__value--duration,
.workout__value--pace,
.workout__value--cadence,
.workout__value--speed,
.workout__value--elevation
{
    font-size: 1.5rem;
    margin-right: 0.1rem;
}

.workout__unit {
    font-size: 1.1rem;
    color: var(--color-light--1);
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 0.80rem;
}

.new__workout--form {
    background-color: var(--color-dark--2);
    border-radius: 15px;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;

    display: flex;
    gap: 0.5rem 2.5rem;
    flex-direction: column;

    /* Match height and activity boxes */
    height: 25rem;
    transition: all 0.5s, transform 1ms;
}

.new__workout--form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.new__workout--form-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new__workout--form-header-label {
    font-size: 2rem;
    font-weight: 600;
}

.new__workout--close-form-btn {
    font-size: 2rem;
    cursor: pointer;
}

.new__workout--close-form-btn:hover {
    font-size: 2rem;
    cursor: pointer;
    text-decoration: underline;
}

.form__row {
    display: flex;
    align-items: center;
}

.form__row--hidden {
    display: none;
}

.form__row.hidden {
    display: none;
}

.form__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
}

.form__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 7px;
    background-color: var(--color-light--3);
    transition: all 0.2s;
}

.form__input:focus {
    outline: none;
    background-color: #fff;
}

.new__workout-form-submit-btn,
.modal__edit--workout-form-submit-btn {
    cursor: pointer;
    align-self: center;
    border-radius: 9px;
    border: none;
    padding: 5px 5px;
    margin-top: 10px;
    background-color: var(--color-brand--2);
    width: 50%;
}

.new__workout-form-submit-btn:hover,
.modal__edit--workout-form-submit-btn:hover {
    background-color: var(--color-brand--1);
}

.copyright {
    margin-top: auto;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
    color: var(--color-light--1);
    transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
    color: var(--color-light--2);
}

/* MAP */
#map {
    flex: 1;
    height: 100%;
    background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 10px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--2);
}

.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--1);
}

.modal__edit--workout-form {
    top: 50%;
    left: 49%;
    transform: translate(-50%, -51%);
    z-index: 1000;
    overflow: auto;
    position: fixed;

    border-radius: 15px;
    padding: 1.5rem 2.75rem;
    background-color: var(--color-dark--2);

    display: flex;
    gap: 0.5rem 2.5rem;
    flex-direction: column;

    height: 25rem;
    box-shadow: 5px 5px 5px #888;
    transition: all 0.5s, transform 1ms;
}

.modal__edit--workout-form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.modal__edit--workout-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal__edit--workout-header-label {
    font-size: 2rem;
    font-weight: 600;
}

.modal__edit--workout-close-form-btn {
    font-size: 2rem;
    cursor: pointer;
}

.modal__edit--workout-close-form-btn:hover {
    font-size: 2rem;
    cursor: pointer;
    text-decoration: underline;
}
